In [15]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [16]:
df_pop = pd.read_csv ('../data/population_clean.csv')
df_pop.head()

  Country Name Country Code  year  population
0        Aruba          ABW  1960     54211.0
1        Aruba          ABW  1961     55438.0
2        Aruba          ABW  1962     56225.0
3        Aruba          ABW  1963     56695.0
4        Aruba          ABW  1964     57032.0

In [17]:
df_pop.shape

(15128, 4)

In [18]:
df_pop

      Country Name Country Code  year  population
0            Aruba          ABW  1960     54211.0
1            Aruba          ABW  1961     55438.0
2            Aruba          ABW  1962     56225.0
3            Aruba          ABW  1963     56695.0
4            Aruba          ABW  1964     57032.0
...            ...          ...   ...         ...
15123     Zimbabwe          ZWE  2016  14030390.0
15124     Zimbabwe          ZWE  2017  14236745.0
15125     Zimbabwe          ZWE  2018  14439018.0
15126     Zimbabwe          ZWE  2019  14645468.0
15127     Zimbabwe          ZWE  2020         0.0

[15128 rows x 4 columns]

In [19]:
df_pop.sort_values(by = 'population', ascending = False).head(50)

      Country Name Country Code  year    population
14760        World          WLD  2019  7.673534e+09
14759        World          WLD  2018  7.591945e+09
14758        World          WLD  2017  7.509074e+09
14757        World          WLD  2016  7.424286e+09
14756        World          WLD  2015  7.338965e+09
14755        World          WLD  2014  7.254227e+09
14754        World          WLD  2013  7.169638e+09
14753        World          WLD  2012  7.085762e+09
14752        World          WLD  2011  7.002860e+09
14751        World          WLD  2010  6.921872e+09
14750        World          WLD  2009  6.839574e+09
14749        World          WLD  2008  6.756918e+09
14748        World          WLD  2007  6.674204e+09
14747        World          WLD  2006  6.592735e+09
14746        World          WLD  2005  6.511748e+09
14745        World          WLD  2004  6.431552e+09
14744        World          WLD  2003  6.351882e+09
14743        World          WLD  2002  6.272753e+09
14742        World          WLD  2001  6.193672e+09
14741        World          WLD  2000  6.114333e+09
14740        World          WLD  1999  6.034492e+09
14739        World          WLD  1998  5.954006e+09
14738        World          WLD  1997  5.872254e+09
14737        World          WLD  1996  5.789624e+09
14736        World          WLD  1995  5.706689e+09
14735        World          WLD  1994  5.621787e+09
14734        World          WLD  1993  5.537512e+09
14733        World          WLD  1992  5.452350e+09
14732        World          WLD  1991  5.368065e+09
14731        World          WLD  1990  5.280076e+09
14730        World          WLD  1989  5.189997e+09
14729        World          WLD  1988  5.101297e+09
14728        World          WLD  1987  5.012555e+09
14727        World          WLD  1986  4.924737e+09
14726        World          WLD  1985  4.839075e+09
14725        World          WLD  1984  4.755914e+09
14724        World          WLD  1983  4.674266e+09
14723        World          WLD  1982  4.592341e+09
14722        World          WLD  1981  4.511137e+09
14721        World          WLD  1980  4.432926e+09
14720        World          WLD  1979  4.356746e+09
14719        World          WLD  1978  4.281313e+09
14718        World          WLD  1977  4.207767e+09
14717        World          WLD  1976  4.135418e+09
14716        World          WLD  1975  4.062865e+09
14715        World          WLD  1974  3.988478e+09
14714        World          WLD  1973  3.912348e+09
14713        World          WLD  1972  3.836893e+09
14712        World          WLD  1971  3.760509e+09
14711        World          WLD  1970  3.682911e+09